<table mat-table [dataSource]="orderItems" multiTemplateDataRows class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let orderItem"> {{orderItem.id}} </td>
    </ng-container>

    <ng-container matColumnDef="materialcard">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fiche Produit </th>
        <td mat-cell *matCellDef="let orderItem" #tdMaterialCard>
        
            <ng-container *ngIf="!orderItem.materialcard?.id">
                <button mat-icon-button color="primary" (click)="openAddOrderItemMaterialCardFormDialog(
                                                    orderItem.id, 
                                                    orderItem
                                                    )">
                    <mat-icon>add</mat-icon>
                </button>
            </ng-container>
        
            <ng-container *ngIf="orderItem.materialcard?.id">
                <button mat-icon-button color="warn" (click)="deleteOrderItemMaterialCard(
                                        orderItem.id
                                        )">
                    <mat-icon>delete</mat-icon>
                </button>
            </ng-container>
        
            <span *ngIf="orderItem.materialcard?.id">
                {{orderItem.materialcard?.number }} - {{ orderItem.materialcard?.nameEn }}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="materialcardmaterial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Material </th>
        <td mat-cell *matCellDef="let orderItem">
            <ng-container *ngIf="orderItem.materialcard?.id">

                <ng-container *ngIf="!orderItem.materialcardmaterial?.id">
                    <button mat-icon-button color="primary" (click)="openAddOrderItemMaterialCardMaterialFormDialog(
                                                            orderItem.id, 
                                                            orderItem, 
                                                            orderItem.materialcard.id
                                                            )">
                        <mat-icon>add</mat-icon>
                    </button>
                </ng-container>
        
                <ng-container *ngIf="orderItem.materialcardmaterial?.id">
                    <button mat-icon-button color="warn" (click)="deleteOrderItemMaterialCardMaterial(
                                                orderItem.id
                                                )">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>
                
                <span *ngIf="orderItem.materialcardmaterial?.id">
                    {{ orderItem.materialcardmaterial.material.nameEn }}
                </span>
            </ng-container>
        
        </td>
    </ng-container>

    <ng-container matColumnDef="descEn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let orderItem"> {{orderItem.descEn}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> quantity </th>
        <td mat-cell *matCellDef="let orderItem"> {{orderItem.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit </th>
        <td mat-cell *matCellDef="let orderItem"> {{orderItem.unit.code}} </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
        <td mat-cell *matCellDef="let orderItem"> {{orderItem.unitPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
        <td mat-cell *matCellDef="let orderItem"> {{orderItem.totalPrice}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let orderItem; columns: columnsToDisplay"></tr>

    <!-- Row shown when there is no matching data. -->
    <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->

</table>