mat-card {
    width: 95%;
    margin: auto;
    padding: 20px 0;

    &-header {
        padding: 0;
        font-size: large;
    }

    &-content {
        margin-top: 20px;
    }

    .horizontal-block {
        display: flex;
        // background-color: yellow;
        margin: 2px 0;
        width: 100%;

        &-main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 0 auto;
        }
    }

    .vertical-block {
        
        &-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 0.1px dotted gray;
            width: 25%;
            height: 100%;
            margin: 0 3px;
            
        }
    }

    .label {
        font-weight: 300;

        &-left {
            align-self: flex-start;
        }
    }

    .content {
        flex: 1 0 auto;
        font-weight: 500;
        // background-color: aliceblue;
        
        &-center {
            text-align: center;
        }
    }

    .border-primary {
        border-radius: 5px;

        &-top {
            border-top: .5px solid black;
        }

        &-right {
            border-right: .5px solid black;
        }

        &-bottom {
            border-bottom: .5px solid black;
        }

        &-left {
            border-left: .5px solid black;
        }
    }

    .border-secondary {
        border-radius: 5px;

        &-top {
            border-top: .5px solid rgb(229, 213, 213);
        }

        &-right {
            border-right: .5px solid rgb(229, 213, 213);
        }

        &-bottom {
            border-bottom: .5px solid rgb(229, 213, 213);
        }

        &-left {
            border-left: .5px solid rgb(229, 213, 213);
        }
    }
}