<div class="material-wrapper">
    <mat-card *ngFor="let facture of factures">
        <!-- <div class="image">
            {{ facture.number }}
        </div> -->
        <mat-card-header>
            <mat-card-title>
                {{ facture.number }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{ facture.description }}
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab extended routerLink="{{facture.id}}" >
                <mat-icon>info</mat-icon>
                See Details
            </button>
        </mat-card-actions>
    </mat-card>
</div>