<div style="display: flex; flex-wrap: wrap;">
    <div class="a4">
        <mat-card>
    
            <!-- Logo and Material Name -->
            <div class="materialcard-header horizontal-block-main">
                <div class="materialcard-header-logo">
                    <img src="assets/img/bytk_logo.png" alt="Material card image" class="mat-card-image">
                </div>
    
                <div class="vertical-block materialcard-header-title border-primary-left">
                    <div class="label label-center materialcard-header-title-name border-primary-bottom">
                        FICHE PRODUIT - КАРТОЧКА ИЗДЕЛИЯ
                    </div>
                    <div class="materialcard-header-title-names vertical-block">
                        <div class="materialcard-header-title-names-fr horizontal-block border-secondary-bottom">
                            <div class="label label-left">
                                Nom du produit:
                            </div>
                            <div class="content">
                                HYRENE 35 PY RGH
                            </div>
                        </div>
                        <div class="materialcard-header-title-names-ru horizontal-block">
                            <div class="label label-left">
                                Nom du produit:
                            </div>
                            <div class="content">
                                HYRENE 35 PY RGH
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Chantier -->
            <div class="horizontal-block-main chantier">
                <div class="vertical-block">
                    <div class="chantier-name horizontal-block border-secondary-bottom">
                        <div class="label label-left">
                            Chantier:
                        </div>
                        <div class="content">
                            CONSTRUCTION D’UN NOUVEAU BATIMENT A LA PLACE DE LA TRIBUNE GOUVERNEMENTALE DANS LA VILLE
                            D’ACHGABAT
                        </div>
                    </div>
                    <div class="chantier-name horizontal-block">
                        <div class="label label-left">
                            Стройка:
                        </div>
                        <div class="content">
                            СТРОИТЕЛЬСТВО НОВОГО ЗДАНИЯ НА МЕСТЕ ПРАВИТЕЛЬСТВЕННОЙ ТРИБУНЫ В ГОРОДЕ АШХАБАДЕ
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Supplier, Origin, Manufactured In -->
            <div class="horizontal-block-main supplier">
                <div class="vertical-block border-primary-right">
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Fournisseur:
                        </div>
                        <div class="content border-secondary-bottom">
                            Knauf
                        </div>
                    </div>
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Поставщик:
                        </div>
                        <div class="content border-secondary-bottom">
                            Knauf
                        </div>
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Origine:
                        </div>
                        <div class="content border-secondary-bottom">
                            France
                        </div>
                    </div>
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Происх.:
                        </div>
                        <div class="content border-secondary-bottom">
                            France
                        </div>
                    </div>
                </div>
                <div class="vertical-block">
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Lieu de fabr. :
                        </div>
                        <div class="content border-secondary-bottom">
                            France
                        </div>
                    </div>
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Место произ. :
                        </div>
                        <div class="content border-secondary-bottom">
                            France
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Location -->
            <div class="horizontal-block-main location">
                <div class="vertical-block">
                    <div class="horizontal-block border-secondary-bottom">
                        <div class="label label-left">
                            Localisation:
                        </div>
                        <div class="content">
                            LOCAUX TECHNIQUES ET SANITAIRES
                        </div>
                    </div>
                    <div class="horizontal-block">
                        <div class="label label-left">
                            Размещение:
                        </div>
                        <div class="content">
                            LOCAUX TECHNIQUES ET SANITAIRES
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Description -->
            <div class="horizontal-block-main description">
                <div class="vertical-block border-primary-right">
                    <div class="label label-center border-secondary-bottom">
                        DESCRIPTION DU PRODUIT
                    </div>
                    <div class="content">
                        SikaLatex® est une dispersion aqueuse de résine synthétique qui se présente sous la forme d’un
                        liquide laiteux concentré. Parfaitement miscible, il s’ajoute directement à l’eau de gâchage des
                        mortiers de ciment.
                    </div>
                </div>
                <div class="vertical-block">
                    <div class="label label-center border-secondary-bottom">
                        ОПИСАНИЕ ИЗДЕЛИЯ
                    </div>
                    <div class="content">
                        SikaLatex® - это водная дисперсия синтетической смолы в форме концентрированной молочной жидкости. Идеально
                        смешивается, добавляется на прямую в воду для приготовления цементных растворов.
                    </div>
                </div>
            </div>
    
            <!-- Protocal, Observation, Preparer and Image -->
            <div class="horizontal-block-main protocol">
                <div class="vertical-block protocol-protocol">
                    <div class="vertical-block border-primary-bottom">
                        <div class="label label-left">
                            Procès verbaux:
                        </div>
                        <div class="content border-secondary-bottom">
                            
                        </div>
                        <div class="label label-left">
                            Протоколы:
                        </div>
                        <div class="content">
                            
                        </div>
                    </div>
                    <div class="vertical-block border-primary-bottom">
                        <div class="label label-left">
                            Observations et avis de l'organisme de contrôle:
                        </div>
                        <div class="content border-secondary-bottom">
                            
                        </div>
                        <div class="label label-left">
                            Замечания И Заключение Тех. Надзора:
                        </div>
                        <div class="content">
                            
                        </div>
                    </div>
                    <div class="vertical-block border-primary-bottom emetteur-block">
                        <div class="horizontal-block">
                            <div class="label label-left">
                                Emetteur/
                                Составитель:
                            </div>
                            <div class="content content-left">
                                Someone Someonow
                            </div>
                        </div>
                        <div class="horizontal-block">
                            <div class="label label-left">
                                Le/Дата:
                            </div>
                            <div class="content content-left">
                                ____ / ____ / 202 ___
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vertical-block protocol-image border-primary-left">
                    <img  src="assets/img/achat.jpg" alt="Material Card Image">
                </div>
            </div>
    
            <!-- Signatures -->
            <div class="horizontal-block-main signature">
                <!-- <div class="vertical-block vertical-block-sign">
                    <div class="label-center signature-company signature-row">
                        -
                    </div>
                    <div class="label-center signature-position signature-row">
                        -
                    </div>
                    <div class="label-left signature-left-labels signature-row">
                        Le/Дата:
                    </div>
                    <div class="label-left signature-left-labels signature-row">
                        Nom/Имя:
                    </div>
                    <div class="label-left signature-left-labels signature-row">
                        Visas/Под.:
                    </div>
                </div> -->
                <div class="vertical-block vertical-block-sign">
                    <div class="label-center label-one-line signature-company signature-row">
                        Entrepreneur/Подрядчик
                    </div>
                    <div class="label-center label-one-line signature-position signature-row">
                        Directeur Projet/Директор Проекта
                    </div>
                    <div class="label-center signature-row">
                        ____ / ____ / 202 ___
                    </div>
                    <div class="label-center signature-row">
                        Hadrien Hue
                    </div>
                    <div class="label-center signature-row">
                        ______________
                    </div>
                </div>
                <div class="vertical-block vertical-block-sign">
                    <div class="label-center label-one-line signature-company signature-row">
                        Organisme de contrôle/Тех. надзор
                    </div>
                    <div class="label-center label-one-line signature-position signature-row">
                        Client / Заказчик
                    </div>
                    <div class="label-center signature-row">
                        ____ / ____ / 202 ___
                    </div>
                    <div class="label-center signature-row">
                        Arslan Arslanow
                    </div>
                    <div class="label-center signature-row">
                        ______________
                    </div>
                </div>
                <div class="vertical-block vertical-block-sign">
                    <div class="label-center label-one-line signature-company signature-row">
                        Maitre d'ouvrage/Предст. заказчика
                    </div>
                    <div class="label-center label-one-line signature-position signature-row">
                        Client / Заказчик
                    </div>
                    <div class="label-center signature-row">
                        ____ / ____ / 202 ___
                    </div>
                    <div class="label-center signature-row">
                        Begli Begliyew
                    </div>
                    <div class="label-center signature-row">
                        ______________
                    </div>
                </div>
            </div>
    
            <!-- Footer -->
            <div class="horizontal-block-main materialcard-footer">
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Affaire/Проект
                    </div>
                    <div class="content content-bold">
                        CCI
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Phase Зтап
                    </div>
                    <div class="content content-bold">
                        CCI
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Lot Pаздел
                    </div>
                    <div class="content content-bold">
                        CCI
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Type/Тип
                    </div>
                    <div class="content content-bold">
                        CCI
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Zone/Зона
                    </div>
                    <div class="content content-bold">
                        CCI
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Niveau/Зтаж
                    </div>
                    <div class="content content-bold">
                        CCI
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Numéro/Номеp
                    </div>
                    <div class="content content-bold">
                        00010
                    </div>
                </div>
                <div class="vertical-block">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Indice/Индекс
                    </div>
                    <div class="content content-bold">
                        A
                    </div>
                </div>
            </div>
    
        </mat-card>
    </div>
    <div class="materialcard-details">
        <app-materialcardmaterial-table class="materialcard-details-materials"></app-materialcardmaterial-table>
        <app-materialcardroom-table 
        class="materialcard-details-rooms" 
        [projectId]="materialcard.id"
        >
    </app-materialcardroom-table>
    </div>
</div>