<div style="display: flex; flex-wrap: wrap;">
    <div class="a4">
        <mat-card>

            <!-- Logo and Material Name -->
            <div class="materialcard-header horizontal-block-main">
                <div class="materialcard-header-logo">
                    <img src="assets/img/bytk_logo.png" alt="Material card image" class="mat-card-image">
                </div>

                <div class="vertical-block materialcard-header-title border-primary-left">
                    <div class="label label-center materialcard-header-title-name border-primary-bottom">
                        FICHE PRODUIT - КАРТОЧКА ИЗДЕЛИЯ
                    </div>
                    <div class="materialcard-header-title-names vertical-block">
                        <div class="materialcard-header-title-names-fr horizontal-block border-secondary-bottom">
                            <div class="label label-left">
                                Nom du produit:
                            </div>
                            <div class="content">
                                {{materialcard ? materialcard.nameEn : "" }}
                            </div>
                        </div>
                        <div class="materialcard-header-title-names-ru horizontal-block">
                            <div class="label label-left label-wrap">
                                Наименование изделия:
                            </div>
                            <div class="content">
                                {{ materialcard ? materialcard.nameRu : "" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chantier -->
            <div class="horizontal-block-main chantier">
                <div class="vertical-block">
                    <div class="chantier-name horizontal-block border-secondary-bottom">
                        <div class="label label-left">
                            Chantier:
                        </div>
                        <div class="content">
                            {{ materialcard ? materialcard.project?.nameFr : "" }}
                        </div>
                    </div>
                    <div class="chantier-name horizontal-block">
                        <div class="label label-left">
                            Стройка:
                        </div>
                        <div class="content">
                            {{ materialcard ? materialcard.project?.nameRu : "" }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Supplier, Origin, Manufactured In -->
            <div class="horizontal-block-main supplier">
                <div class="vertical-block border-primary-right">
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Fournisseur:
                        </div>
                        <div class="content border-secondary-bottom">
                            {{ materialcard ? materialcard.supplierEn: ''}}
                        </div>
                    </div>
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Поставщик:
                        </div>
                        <div class="content border-secondary-bottom">
                            {{ materialcard ? materialcard.supplierRu: ''}}

                        </div>
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Origine:
                        </div>
                        <div class="content border-secondary-bottom">
                            {{ materialcard ? materialcard.origin?.nameEn : ''}}
                        </div>
                    </div>
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Происх.:
                        </div>
                        <div class="content border-secondary-bottom">
                            {{ materialcard ? materialcard.origin?.nameRu : ''}}
                        </div>
                    </div>
                </div>
                <div class="vertical-block">
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Lieu de fabr. :
                        </div>
                        <div class="content border-secondary-bottom">
                            {{ materialcard ? materialcard.manufacturedIn?.nameEn : ''}}
                        </div>
                    </div>
                    <div class="horizontal-block">
                        <div class="label label-left border-secondary-bottom">
                            Место произ. :
                        </div>
                        <div class="content border-secondary-bottom">
                            {{ materialcard ? materialcard.manufacturedIn?.nameRu : ''}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Location -->
            <div class="horizontal-block-main location">
                <div class="vertical-block">
                    <div class="horizontal-block border-secondary-bottom">
                        <div class="label label-left">
                            Localisation:
                        </div>
                        <div class="content">
                            {{ materialcard ? materialcard.locationFr : ''}}
                        </div>
                    </div>
                    <div class="horizontal-block">
                        <div class="label label-left">
                            Размещение:
                        </div>
                        <div class="content">
                            {{ materialcard ? materialcard.locationRu : ''}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="horizontal-block-main description">
                <div class="vertical-block border-primary-right">
                    <div class="label label-center border-secondary-bottom">
                        DESCRIPTION DU PRODUIT
                    </div>
                    <div class="content">
                        {{ materialcard ? materialcard.descFr : "" }}
                    </div>
                </div>
                <div class="vertical-block">
                    <div class="label label-center border-secondary-bottom">
                        ОПИСАНИЕ ИЗДЕЛИЯ
                    </div>
                    <div class="content">
                        {{ materialcard ? materialcard.descRu : "" }}
                    </div>
                </div>
            </div>

            <!-- Protocal, Observation, Preparer and Image -->
            <div class="horizontal-block-main protocol">
                <div class="vertical-block protocol-protocol">
                    <div class="vertical-block border-primary-bottom">
                        <div class="label label-left">
                            Procès verbaux:
                        </div>
                        <div class="content border-secondary-bottom">
                            {{ materialcard ? materialcard.protocolFr : ''}}
                        </div>
                        <div class="label label-left">
                            Протоколы:
                        </div>
                        <div class="content">
                            {{ materialcard ? materialcard.protocolRu : ''}}
                        </div>
                    </div>
                    <div class="vertical-block border-primary-bottom">
                        <div class="label label-left">
                            Observations et avis de l'organisme de contrôle:
                        </div>
                        <div class="content border-secondary-bottom">
                            {{ materialcard ? materialcard.observationFr : ''}}
                        </div>
                        <div class="label label-left">
                            Замечания И Заключение Тех. Надзора:
                        </div>
                        <div class="content">
                            {{ materialcard ? materialcard.observationRu : ''}}
                        </div>
                    </div>
                    <div class="vertical-block border-primary-bottom emetteur-block">
                        <div class="horizontal-block">
                            <div class="label label-left">
                                Emetteur/
                                Составитель:
                            </div>
                            <div class="content content-left">
                                {{ materialcard ? materialcard.signContractor1 : ''}}
                            </div>
                        </div>
                        <div class="horizontal-block">
                            <div class="label label-left">
                                Le/Дата:
                            </div>
                            <div class="content content-left">
                                ____ / ____ / 202 ___
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vertical-block protocol-image border-primary-left">
                    <img src="http://localhost:8080/materialcards/{{materialcard.image}}" alt="Material Card Image">
                </div>
            </div>

            <!-- Signatures -->
            <div class="horizontal-block-main signature">
                <div class="vertical-block vertical-block-sign">
                    <div class="label-center label-one-line signature-company signature-row">
                        Entrepreneur/Подрядчик
                    </div>
                    <div class="label-center label-one-line signature-position signature-row">
                        Directeur Projet/Директор Проекта
                    </div>
                    <div class="label-center signature-row">
                        ____ / ____ / 202 ___
                    </div>
                    <div class="label-center signature-row">
                        {{ materialcard ? materialcard.signContractor2 : ''}}
                    </div>
                    <div class="label-center signature-row">
                        ______________
                    </div>
                </div>
                <div class="vertical-block vertical-block-sign">
                    <div class="label-center label-one-line signature-company signature-row">
                        Organisme de contrôle/Тех. надзор
                    </div>
                    <div class="label-center label-one-line signature-position signature-row">
                        Client / Заказчик
                    </div>
                    <div class="label-center signature-row">
                        ____ / ____ / 202 ___
                    </div>
                    <div class="label-center signature-row">
                        {{ materialcard ? materialcard.signTehnadzor : ''}}
                    </div>
                    <div class="label-center signature-row">
                        ______________
                    </div>
                </div>
                <div class="vertical-block vertical-block-sign">
                    <div class="label-center label-one-line signature-company signature-row">
                        Maitre d'ouvrage/Предст. заказчика
                    </div>
                    <div class="label-center label-one-line signature-position signature-row">
                        Client / Заказчик
                    </div>
                    <div class="label-center signature-row">
                        ____ / ____ / 202 ___
                    </div>
                    <div class="label-center signature-row">
                        {{ materialcard ? materialcard.signClient : ''}}
                    </div>
                    <div class="label-center signature-row">
                        ______________
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="horizontal-block-main materialcard-footer">
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Affaire/Проект
                    </div>
                    <div class="content content-bold">
                        {{ materialcard ? materialcard.project?.code : '' }}
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Phase Зтап
                    </div>
                    <div class="content content-bold">
                        {{ materialcard ? materialcard.phase?.code : '' }}
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Lot Pаздел
                    </div>
                    <div class="content content-bold">
                        {{ materialcard ? materialcard.lot?.number : '' }}
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Type/Тип
                    </div>
                    <div class="content content-bold">
                        {{ materialcard ? materialcard.fptype?.name : '' }}
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Zone/Зона
                    </div>
                    <div class="content content-bold">
                        {{ materialcard ? materialcard.zone : '' }}
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Niveau/Зтаж
                    </div>
                    <div class="content content-bold">
                        {{ materialcard ? materialcard.level : '' }}
                    </div>
                </div>
                <div class="vertical-block border-primary-right">
                    <div class="label label-center border-secondary-bottom">
                        Numéro/Номеp
                    </div>
                    <div class="content content-bold">
                        {{ materialcard ? materialcard.number : '' }}
                    </div>
                </div>
                <div class="vertical-block">
                    <div class="label label-center label-wrap border-secondary-bottom">
                        Indice/Индекс
                    </div>
                    <div class="content content-bold">
                        {{ materialcard ? materialcard.index : '' }}
                    </div>
                </div>
            </div>

            <!-- Extra info -->
            <!-- Hide in print mode -->
            <ng-container *ngIf="materialcard">
        
                <div class="horizontal-block-main extra-info">
        
                    <div class="horizontal-block border-primary-right">
                        <div class="label label-left">Department:</div>
                        <div class="content">
                            {{materialcard.department?.code}}
                        </div>
                    </div>
        
                    <div class="horizontal-block border-primary-right">
                        <div class="label label-left">Trade:</div>
                        <div class="content">
                            {{materialcard.trade?.nameEn}}
                        </div>
                    </div>
        
                    <div class="horizontal-block border-primary-right">
                        <div class="label label-left">Quantity:</div>
                        <div class="content">
                            {{materialcard.quantity}}
                        </div>
                    </div>
        
                    <div class="horizontal-block border-primary-right">
                        <div class="label label-left">Unit:</div>
                        <div class="content">
                            {{materialcard.unit?.code}}
                        </div>
                    </div>
        
                    <div class="horizontal-block">
                        <div class="label label-left">Unit Price:</div>
                        <div class="content">
                            {{materialcard.unitPrice}}
                        </div>
                    </div>
                </div>
            </ng-container>
        </mat-card>
    </div>
    <div class="materialcard-details">


        <ng-container *ngIf="materialcard">
    
            <app-materialcardmaterial-table class="materialcard-details-materials" 
                [projectIdFromParent]="materialcard.project?.id"
                [materialcardIdFromParent]="materialcard.id"
                [materialcardFromParent]="materialcard" 
                >
            </app-materialcardmaterial-table>
        </ng-container>
    
        <ng-container *ngIf="materialcard">
            <app-materialcardroom-table class="materialcard-details-rooms" 
                [projectIdFromParent]="materialcard.project?.id"
                [materialcardFromParent]="materialcard"
                >
            </app-materialcardroom-table>
        </ng-container>
    
    </div>
</div>