.material-wrapper {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
mat-card {
    min-width: 300px;
    width: 20vw;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .3s;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.502) 0px 54px 55px, rgba(43, 26, 174, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 22vw;
    }

    :hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &-content {
        max-width: 350px;
        max-height: 80px;
        margin: auto;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-actions {
        display: flex;
        justify-content: flex-end;
        
        button {
            margin: 0 2px;
        }
    }
}

@media (max-width: 576px) { 
    mat-card {
        width: 100%;
    }
 }

