mat-card {
    min-width: 200px;

    &-header {
        font-size: large;
        margin-bottom: 20px;
    }

    &-actions {
        padding: 2px 15px;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    mat-form-field {
        width: 100%;
    }
}