<div class="material-wrapper">
    <mat-card>
        <div class="left-side">
            <img mat-card-image src="assets/img/achat.jpg" alt="">
        </div>
        <div class="right-side">
            <mat-card-header>
                <mat-card-title>
                   <span *ngIf="material">
                       {{ material.nameEn }}
                   </span> 
                </mat-card-title>
            </mat-card-header>
            <mat-card-header>
                <mat-card-title>
                   <span *ngIf="material">
                       {{ material.nameFr }}
                   </span> 
                </mat-card-title>
            </mat-card-header>
            <mat-card-header>
                <mat-card-title>
                   <span *ngIf="material">
                       {{ material.nameRu }}
                   </span> 
                </mat-card-title>
            </mat-card-header>
            <mat-card-header>
                <mat-card-title>
                   <span *ngIf="material">
                       {{ material.nameTm }}
                   </span> 
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <span *ngIf="material">
                    {{ material.descEn }}
                </span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis rem veniam nesciunt nulla qui, nostrum atque quis
                veritatis, earum asperiores, corrupti officiis sunt. 
                Dolorum aut eligendi reiciendis voluptatibus minus sapiente!
            </mat-card-content>
            <mat-card-content>
                <span *ngIf="material">
                    {{ material.descFr }}
                </span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis rem veniam nesciunt nulla qui, nostrum atque quis
                veritatis, earum asperiores, corrupti officiis sunt. 
                Dolorum aut eligendi reiciendis voluptatibus minus sapiente!
            </mat-card-content>
            <mat-card-content>
                <span *ngIf="material">
                    {{ material.descRu }}
                </span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis rem veniam nesciunt nulla qui, nostrum atque quis
                veritatis, earum asperiores, corrupti officiis sunt. 
                Dolorum aut eligendi reiciendis voluptatibus minus sapiente!
            </mat-card-content>
            <mat-card-content>
                <span *ngIf="material">
                    {{ material.descTm }}
                </span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis rem veniam nesciunt nulla qui, nostrum atque quis
                veritatis, earum asperiores, corrupti officiis sunt. 
                Dolorum aut eligendi reiciendis voluptatibus minus sapiente!
            </mat-card-content>
        
        <mat-card-actions>
            <button mat-mini-fab color="warn" (click)="deleteMaterial(material.id)" >
                <mat-icon>delete</mat-icon>
            </button>
            <span *ngIf="material">
                <button mat-mini-fab routerLink="/chantier/materials/edit/{{material.id}}">
                    <mat-icon>edit</mat-icon>
                </button>
            </span>
            <button mat-fab extended routerLink="/chantier/materials" >
                <mat-icon>list</mat-icon>
                See All List
            </button>
      </mat-card-actions>
    </div>
    </mat-card>
</div>