<mat-card>
    <mat-card-header>
        <div class="horizontal-block-main">
            <div class="vertical-block-main">
                <div class="horizontal-block">
                    <div class="label label-left">
                        Number:
                    </div>
                    <div class="content content-center">
                        {{order.number}}
                    </div>
                </div>
                <div class="horizontal-block">
                    <div class="label label-left">
                        Project:
                    </div>
                    <div class="content content-center">
                        {{ order.project?.code }}
                    </div>
                </div>
            </div>
            <div class="vertical-block-main">
                <div class="horizontal-block">
                    <div class="label label-left">
                        Supplier:
                    </div>
                    <div class="content content-center">
                        {{ order.supplier }}
                    </div>
                </div>
                <div class="horizontal-block">
                    <div class="label label-left">
                        Order placed by:
                    </div>
                    <div class="content content-center">
                        {{ order.requestor }}
                    </div>
                </div>
            </div>
            <div class="vertical-block-main">
                <div class="label label-center">
                    DATE:
                </div>
                <div class="content content-center">
                    {{ order.deliveryDate }}
                </div>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content *ngIf="order">
        <app-orderitem-table
        [projectIdFromParent]="order.project?.id" 
        [orderFromParent]="order" 
        [OrderIdFromParent]="orderId"
        >
        </app-orderitem-table>
    </mat-card-content>
</mat-card>