
<!--
    <mat-card-header>
        
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="inventoryItemAnnexe5s" matSort>
        
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let inventoryItemAnnexe5"> {{inventoryItemAnnexe5.id}} </td>
            </ng-container>
            
                <ng-container matColumnDef="annexe5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell *matCellDef="let inventoryItemAnnexe5"> {{inventoryItemAnnexe5.annexe5?.code}} </td>
                </ng-container>
        
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                <td mat-cell *matCellDef="let inventoryItemAnnexe5"> {{inventoryItemAnnexe5.quantity}} </td>
            </ng-container>
        
            <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit </th>
                <td mat-cell *matCellDef="let inventoryItemAnnexe5"> {{inventoryItemAnnexe5.unit.code}} </td>
            </ng-container>
        
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="mini-add"> 
                    <button mat-mini-fab color="primary" 
                    (click)="openCreateInventoryItemAnnexe5FormDialog()" 
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </th>
                
                <td mat-cell *matCellDef="let inventoryItemAnnexe5"> 
                    <button mat-icon-button color="primary" (click)="openUpdateInventoryItemAnnexe5FormDialog(inventoryItemAnnexe5.id, inventoryItemAnnexe5)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteInventoryItemAnnexe5(inventoryItemAnnexe5.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let inventoryItemAnnexe5; columns: columnsToDisplay"></tr>



        </table>
        
    </mat-card-content>
</mat-card>
-->
<div class="annexe5s">
    <mat-chip-row aria-label="Annexe5 selection" *ngFor="let inventoryItemAnnexe5 of inventoryItemAnnexe5sForChip">
        <mat-chip >
            {{inventoryItemAnnexe5.annexe5?.code}} 
            <!-- <button matChipRemove mat-icon-button color="primary" style="color: rgb(52, 14, 220);"
                (click)="openUpdateInventoryItemAnnexe5FormDialog(inventoryItemAnnexe5.id , inventoryItemAnnexe5)">
                <mat-icon>edit</mat-icon>
            </button> -->
    
            <button matChipRemove mat-icon-button color="warn" style="color: rgb(255, 0, 0);"
                (click)="deleteInventoryItemAnnexe5(inventoryItemAnnexe5.id)">
                <mat-icon>cancel</mat-icon>
            </button>
    
        </mat-chip>
    </mat-chip-row>
</div>

<button mat-mini-fab color="primary" class="add-new-iia5" (click)="openCreateInventoryItemAnnexe5FormDialog()">
    <mat-icon>add</mat-icon>
</button>